/* GLOBAL  */

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
}


/* CONTAINER */

.full-size {
    height: 100vh;
    background: hsl(0, 100%, 74%) url(images/bg-intro-desktop.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.con-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.con-2 {
    width: 40%;
}


/* TEXT */

.con-1--heading {
    margin: 0;
    width: 70%;
    font-weight: 700;
    line-height: 1.1;
    font-size: 40px;
}

.con-1--para {
    width: 70%;
    font-size: smaller;
}

.con-2--heading-block {
    width: 80%;
    display: block;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    margin-bottom: 18px;
    padding: 25px;
    text-align: center;
    box-shadow: 2px 8px 5px rgba(0, 0, 0, .2);
    font-size: smaller;
}

.form-para-box {
    width: 100%;
    color: hsl(246, 25%, 77%);
    font-size: xx-small;
    text-align: center;
    font-weight: 600;
}

.red-color {
    color: hsl(0, 100%, 74%);
}

.opa {
    opacity: .7;
}


/* FORM */

.con-2--form {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 2px 8px 5px rgba(0, 0, 0, .2);
}

input {
    width: 95%;
    background-color: transparent;
    padding: 16px 0 16px 20px;
    border: 2px solid hsl(246, 25%, 90%);
    border-radius: 5px;
    margin-bottom: 15px;
}

input::placeholder {
    color: hsl(249, 10%, 26%);
    font-weight: 600;
}

input[type=text] {
    font-weight: 600;
}

input[type=email] {
    font-weight: 600;
}

input:focus {
    border-color: hsl(249, 10%, 26%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

input:focus:invalid {
    border: 2px solid hsl(0, 100%, 40%);
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 20px;
    outline: 0 none;
}


/* BUTTON */

.btn {
    width: 100%;
    padding: 16px 0;
    color: white;
    background-color: hsl(154, 59%, 51%);
    border: 2px solid hsl(154, 59%, 48%);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 600;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.btn:hover {
    border: 2px solid hsl(154, 59%, 65%);
    background-color: hsl(154, 59%, 65%);
}


/* FOOTER */

footer {
    margin-top: 20px;
}

.attribution {
    text-align: center;
    color: hsl(248, 32%, 49%);
    margin: 0 auto;
    width: 28%;
    border-top: 3px solid hsl(154, 59%, 51%)
}

a {
    text-decoration: none;
    color: hsl(0, 100%, 74%)
}


/* MEDIA QUEARI */

@media screen and (max-width: 700px) {
    .full-size {
        height: 135vh;
    }
    .con-1--heading {
        margin: 0 auto;
        font-weight: 600;
        line-height: 1.2;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .container-main {
        flex-direction: column;
    }
    .con-1 {
        display: unset;
        width: unset;
        text-align: center;
    }
    .con-2 {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .con-1--para {
        margin: 0 auto;
        width: 58%;
        font-weight: 400;
        margin-bottom: 25px;
    }
    .form-para {
        margin: 10px auto;
    }
    .btn {
        /* width: 103%; */
        font-weight: 500;
    }
    input:focus:invalid {
        background-size: 20px;
    }
    /* FOOTER */
    .attribution {
        width: 70%;
    }
}